    <footer id="about">
        <div class="footer-top">
            <h2><span>Library</span> of Flat</h2>
            <p>Temukan dan jelajahi buku favoritmu.</p>
        </div>
        <div class="medsos">
            <a href="https://instagram.com/ahmdhndra__"><i data-feather="instagram"></i></a>
            <a href="https://discord.com/users/1188032208083107852"><i data-feather="headphones"></i></a>
            <a href="https://www.youtube.com/@ahmadhendra3891"><i data-feather="youtube"></i></a>
        </div>
        
        <div class="credit">
            <p>Created by <a href="https://github.com/FlattableLog">FlattableLog</a> | &copy; 2026.</p>
        </div>
    </footer>

   <!-- Feather Icon -->
    <script>
        feather.replace();
    </script>
</body>