<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perpustakaan</title>

    <link rel="stylesheet" href="style/main.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Feather Icon -->
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" class="navbar-logo">Library <span>of Flat</span></a>

            <div class="search-form">
                <input type="search" id="search-box" placeholder="cari buku disini...">
                <label for="search-box"><i data-feather="search"></i></label>
            </div>
            
            <div class="navbar-nav">
                <a href="index.php">Home</a>
                <a href="daftarBuku.php">Daftar Buku</a>
                <a href="#about">About Us</a>
            </div>

        </nav>
    </header>
    
